<% provide(:title, 'Contact') %>
<h1>Contact   contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  contact CONTACT  
<a href="http://railstutorial.org/contact">contact page</a>.
</p>

